@keyframes checkAnimation {
    0% {
      transform: scale(0.8);
      opacity: 0;
    }
    50% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .check-icon {
    animation: checkAnimation 0.5s ease-in-out;
  }

  @keyframes checkAnimation2 {
    0% {
      transform: scale(0.8) rotateZ(-45deg);
      opacity: 0;
    }
    50% {
      transform: scale(1.5) rotateZ(45deg);
      opacity: 1;
    }
    100% {
      transform: scale(1) rotateZ(0deg);
      opacity: 1;
    }
  }
  
  .check-icon2 {
    animation: checkAnimation2 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  }




  @keyframes checkAnimation3 {
    0% {
      transform: scale(0.5) rotateZ(-90deg);
      opacity: 0;
      color: #ff0000;
    }
    50% {
      transform: scale(1.5) rotateZ(90deg);
      opacity: 1;
      color: #00ff00;
      filter: drop-shadow(0 0 10px #0000ff);
    }
    90% {
      transform: scale(1) rotateZ(0deg);
      opacity: 1;
      color: #0000ff;
      filter: none;
    }
    100%{
        color: white; 
    }
  }
  
  .check-icon3 {
    animation: checkAnimation3 1s cubic-bezier(0.2, 0.6, 0.8, 0.4) forwards;
  }
  
  